.idea
.env/
*.log
kubeconfig
talosconfig
.DS_Store
.DS_Store?
._*
ehthumbs.db
Thumbs.db
vendor/
node_modules/
deps/
*.key
age.key
keys.txt
.env
**/*.env
**/*.env.yaml
*.key
*.csr
github-deploy.key.pub
cluster-secrets.sops.yaml
github-deploy.key
**/kubeconfig
1password-credentials.json
1password-connect.sops.yaml
onepassword-credentials.json
onepassword.sops.yaml
*snapshot.db
truenas.sops.yml
