---
ingress:
  - hostname: "*.omux.io"
    service: https://envoy-external.networking.svc.cluster.local
    originRequest:
      http2Origin: true
      keepAliveTimeout: 3600s
      originServerName: external.omux.io
      tcpKeepAlive: 7200s
  - service: http_status:404
